*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Gilroy";
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color:blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height:480px;
    width:350px;
    background-color: aliceblue;  
    border-radius: 16px;
    overflow:hidden;
    border:3px solid black;
    position: relative;
}

#stories{
    height: 130px;
    width:100%;
    border-bottom: 2px solid #555;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}

#stories::-webkit-scrollbar{
    display: none;
}

.story{
    height: 90px;
    width: 90px;
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden; /* sizes the image parts that are in outside part*/
    display: inline-block;
    margin-right: 5px;
}

.story img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: center;
    /*border-radius: 50%;*/    /* sizes the image  that are in outside part*/
    
}

.full-screen{
    height: 100%;
    width:100%;
    background-size: cover; /* image will cover the screen after clicking the story*/
    background-position: center; 
    position:absolute;
    display: none;
}